body {
	background-color: #B0E0E6;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
}

header p {
	margin-top: 0;
}

header h1 {
	margin-bottom: 0;
}

header ul {
	width: 100px;
	margin: auto;
	text-align: left;
}

main {
	background-color: white;
	margin: 20px 50px;
	padding: 15px;
	margin-bottom: 150px
}

main ul {
	background-color: #DCDCDC;
	border-radius: 10px;
	margin-top: 0;
	padding: 10px 50px;
}

.button {
	text-align: right;
	margin: 10px;
	width: 85px;
	margin: 20px 0;
	margin-left: calc(100% - 50px);

}

.button a {
	background-color: #9eaaca;
	border-radius: 6px;
	padding: 8px 20px;
	box-shadow: 2px 2px 0px 1px #464664;
}

.botoom_border {
	border-bottom: solid;
}
.content_articl{
  padding: 10px;
}
.articl_border {
	border: solid 1px;
	margin-bottom: 10px;
	padding: 10px;
}

.articl {
	margin-bottom: 10px;
	background-color: #ccccee;
	overflow: hidden;
	width: 95px;
	height: 35px;
padding-bottom: 5px;
border: solid 1px;
}
.articl a {
	display: block;
	padding: 10px 0px 4px 8px;
	font-weight: bold;
	font-size: 20px;
	color: blue;


}
.articl:target a{
color: black;
text-decoration: underline;

}





#s1:target,#s2:target,#s3:target,#s4:target,#s5:target,#s6:target{
	overflow: visible;
	width: 80%;
	height: auto;
	color: black;
	background-color: white;
	border: solid 1px black;

}



footer {
	position: fixed;
	background-color: #DCDCDC;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px 20px 40px 20px;
	height: 100px;
	font-style: italic;
}

footer img {
	width: 20px;
	margin-left: 10px
}

.main_width {
	margin: 45px;
}

.flower::after {
	content: "\2741";
	font-size: 25px;
	color: #C71585;
}

.flower_2::after {
	content: url(img/flower.jpg);
	font-size: 10px;
	margin-left: 5px;
}

.name_plus_flower h2 {
	display: inline-block;
	margin-bottom: 20px;
}

.img_right {
	width: 300px;
	float: right;
	margin: 5px;
}

.img_left {
	width: 300px;
	float: left;
	margin: 5px;
}

.clear_right {
	clear: right;
}

.clear_left {
	clear: left;
}
